rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          "wessystudio.official@gmail.com"
        ];
    }

    match /config/site {
      allow read: if true;
      allow create, update, delete: if isOwner();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
